body {
	// background: url("../../img/bg-image-hydro1.jpg");

	* {
		color: white;
	}
}

@import "../dry";
@import "../gallery/index";

.content {
	background: #33377a;
}

.plus-sign {
	&:hover {
		background: white !important;
		.bluish {
			transition: 0.2s ease fill !important;
			fill: #33377a !important;
		}
	}
}
